$modal_index: 100000;

//
#modalshield              {}

//
#nanobox-dash-ui-modal    {@include transition(); @include align('center'); @include font-size(14px); position:fixed; z-index:$modal_index; width:600px; padding:39px 25px 25px 36px; background:white; overflow:hidden; text-align:left;

  .cancel-x               {position: absolute; right:5px; top:5px; padding:10px; cursor: pointer;
    &:hover svg *         {fill:#2F4853; }
  }
  //
  .close                  {position:absolute; top:0px; right:0px; margin:10px; cursor:pointer;
    svg path              {fill:$dashboard_47;}
    &:hover svg path      {fill:$dashboard_73;}
  }

  //
  .modal                  {width:100%;
    .header               {@include truncate(); @include font-size(16px); margin-bottom:21px; color:#415963; font-weight: $bold; text-transform: uppercase; letter-spacing: 0.06em; }
    .content              {@include font-size(15px, 24px); color:#617787; font-style:italic; font-weight:$semibold}
    button                {&:after {content: attr(data-content);}}
  }

  //
  &.open                  {display:block; opacity:1;}

  //
  @import 'modals/delete-verification-modal';
}
