#action-confirmation-modal.modal
  .cancel-x
    img.shadow-icon(data-src="cancel-x-btn")
      
  .header= header
  .content !{content}

  //- 
  .save-zone
    .btn.cancel Cancel
    .btn.lifecycle Continue
