#action-confirmation-modal.modal
  .header= header
  .content !{content}

  //- 
  .save-zone
    a.cancel(href="#") Cancel
    button.save.lifecycle("data-content"=callToAction)
      img.shadow-icon("data-src"="check-mark")
