#delete-verification-modal.modal
  .cancel-x
    img.shadow-icon(data-src="cancel-x-btn")
  
  .header= header
  .content !{content}
  .input
    input(placeholder="type '#{token}' to confirm")

  //- 
  .delete-zone
    .btn.basic.cancel(href="#") Cancel
    .btn.basic.delete.lifecycle.disabled.save Delete
