#delete-confirmation-modal.modal
  .cancel-x
    img.shadow-icon(data-src="cancel-x-btn")
      
  .header= header
  .content !{content}

  //- 
  .delete-zone
    .btn.basic.cancel Cancel
    .btn.basic.delete.lifecycle.save Delete
