#delete-verification-modal.modal
  .header= header
  .content !{content}
  .input
    input(placeholder="type '#{token}' to confirm")

  //- 
  .delete-zone
    a.cancel(href="#") Cancel
    button.delete.lifecycle.disabled("data-content"=callToAction)
