#info-modal.modal
  .cancel-x
    img.shadow-icon(data-src="cancel-x-btn")
  
  .header= header
  .content !{content}

  //- 
  .save-zone
    .btn.basic.cancel(href="#") !{cancelTxt}
    .btn.basic.save.lifecycle !{actionTxt}
