#upgrade-required-modal.modal
  .cancel-x
    img.shadow-icon(data-src="cancel-x-btn")
  
  .header= header
  .content !{content}

  //- 
  .save-zone
    .btn.basic.cancel(href="#") Cancel
    if authorized
      .btn.basic.save.lifecycle Manage Plan
